*
{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

.hero
{
    height: 100vh;
    width: 100%;
    background-image: url(images/stars\ copy.png);
}
nav
{
    background-color: rgba(0, 0, 0, .5);
    fill-opacity: .4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo
{
    width: 100px;
}

nav ul li
{
    list-style-type: none;
    display: inline-block; 
    padding: 10px 30px;
    font-size: larger;
}

nav ul li a
{
    color:white;
    text-decoration: none;
}

nav ul li a:hover
{
    color : #c82090;
    transition: .4s;
    
}

.current
{
    color : #c82090;
    
}

.btn
{
    background-color: #c82090 ;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover
{
    transform: scale(1.1);
}

hr
{
    border-top: 2px solid #c82090;
}

h1
{
    color: white;
    position: absolute;
    top: 25%;
    left: 630px;
    transform: translalteY(-50%);
    padding: 20px;
}
h3
{
    color: white;
    font-size: 15px;
    position: absolute;
    top: 98%;
   
}
h3 a
{
    text-decoration: none;
    color: #c82090;

}

.block
{
	position: absolute;
    height: 680px;
	width: 510px;
    background: rgb(116, 115, 115);

	top: 25%;
    left: 20%;
	border-radius: 20px;
}

.neon
{
    color: #c82090;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #f09,
    0 0 82px #f09,
    0 0 92px #f09,
    0 0 102px #f09,
    0 0 151px #f09;
    animation: pulsate 0.11s ease-in-out infinite alternate;
}

@keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #f09,
        0 0 80px #f09,
        0 0 90px #f09,
        0 0 100px #f09,
        0 0 150px #f09;
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f09,
      0 0 73px #f09,
      0 0 80px #f09,
      0 0 94px #f09,
      0 0 140px #f09;
  
  }
}


h5{
	color: #c82090;
	font-size: 23px;
	margin-bottom: 15px;
    margin-top: 10px;
}

.pra1 p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

span
{
    color: #c82090;
}

.hero .navigation
{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .navigation li
{
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
}

.hero .navigation li:hover
{
    opacity: 1;
}

.hero .navigation li img
{
    width: 120px;
    transition: 0.5s;
}

.hero .navigation li img:hover
{
    width: 200px;
    opacity: 1;
}

.hero .background #imgsrc
{
    position: absolute;
    top: 13.5%;
    left: 0;
    width: 100%;
    height: 82.5vh;
}
.hero .box
{
    position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40%;
    left: 80%;
    height: 250px;
	width: 335px;
	padding: 20px 35px;
	background: rgba(24, 24, 24, 0.9);;
	border-radius: 20px;
	margin: 15px;
	position: absolute;
	overflow: hidden;
	text-align: center;
    z-index: 1;
}
h5{
    text-align: right;
	color: #c82090;
	font-size: 23px;
    margin-top: 5px;
    padding-right: 10px;
    border-right: 2px solid #c82090;
    width: 50%;
}

.pra p{

    text-align: left;
	color: white;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 15px;
    margin-left: 10px;
}